%% -*- mode:erlang -*-
[
    {lager, [
            {crash_log, 
% ${NL}      "${RUNNER_LOG_DIR}/crash.log"}, {disable_default_crash_log,
             "logs/crash.log"}, {crash_log_size, 0}, {crash_log_date, "$D0"}, {crash_log_count, 5},
            {error_logger_hwm, 20},
            {async_threshold, 30}, {async_threshold_window, 10},
            {handlers, [
                    {lager_console_backend, [error, {lager_default_formatter, [time," [",severity,"] ", module, ":", line, "   ", message, "\n"]}]},
                    {lager_file_backend, [{file,
% ${NL}                                    "${RUNNER_LOG_DIR}/events.log"}, {file, % second entry is not read
                                           "logs/events.log"}, {level, notice}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                          {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                    {lager_file_backend, [{file,
% ${NL}                                    "${RUNNER_LOG_DIR}/access.log"}, {file, % second entry is not read
                                           "logs/access.log"}, {level, none}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                          {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", peer, " \"", method, " ", url, "\" ", status, "\n"]}]}
                    ]},
            {traces, [
                    {{lager_file_backend, "logs/access.log"}, [{tag, 
% ${NL}                                                         disable_default_access}], info},
% ${NL}             {{lager_file_backend, "${RUNNER_LOG_DIR}/access.log"}, [{tag,
                                                                access}], info}
                    ]}
            ]},
    {kernel, [
            % For expansion provide a newline in NL var
% ${NL}     {sync_nodes_optional, [${CLUSTERNODES}]},
            {sync_nodes_timeout, 1000}                 % This enables connect-on-startup
            ]}
    ].
