%% -*- mode:erlang -*-
[
    {lager, [
            {crash_log, "logs/crash.log"}, {crash_log_size, 0}, {crash_log_date, "$D0"}, {crash_log_count, 5},
            {error_logger_hwm, 20},
            {async_threshold, 30}, {async_threshold_window, 10},
            {handlers, [
                    {lager_file_backend, [{file, "logs/events.log"}, {level, notice}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                          {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
                    {lager_file_backend, [{file, "logs/access.log"}, {level, none}, {size, 0}, {date, "$D0"}, {count, 5}, {formatter, lager_default_formatter},
                                          {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", peer, " \"", method, " ", url, "\" ", status, "\n"]}]}
                    ]},
            {traces, [
                    {{lager_file_backend, "logs/access.log"}, [{tag, access}], info}
                    ]}
            ]},
    {kernel, [
            {sync_nodes_optional, [erdico@node1, erdico@node2]},
            {sync_nodes_timeout, 1000}                 % This enables connect-on-startup
            ]}
    ].
